<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.neu.navigation">

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <meta-data
            android:name="com.indooratlas.android.sdk.API_KEY"
            android:value="412a56b4-9a1f-4781-96e4-85c127981252" />
        <meta-data
            android:name="com.indooratlas.android.sdk.API_SECRET"
            android:value="nK4QXcXp7cKKNvnWhfTWdWENj6s2HoMUtNTG2RrhWKtb0Mugx8gdc2ZWs5SIQEGfU+KALtQqfnu7b40JWtXOhiigcGQ+DWyXZ67kSHjp3X0+ACuim//7aQSP6FokDg==" />
    </application>

</manifest>